@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  color: slategrey;
}

.flowbot-toggler {
  bottom: 50px;
  right: 50px;
}

.flowbot-message-box {
  bottom: 70px;
  right: 70px;
  width: 500px;
  height: 500px;
}

.flowbot-history-transition-buttons {
  bottom: 50px;
  right: 272px;
}
